nav.breadcrumb
  ul.list
    li.item 
      a.link(href="#") Electrónica, Audio y Video
    li.item 
      a.link(href="#") iPod
    li.item 
      a.link(href="#") Reproductores
    li.item 
      a.link(href="#") iPod touch
    li.item.active(data-ng-if="$ctrl.type === 'detail'") 32 GB
    li.item.active(data-ng-if="$ctrl.type === 'result'")
      h1 iPod touch 32 GB